.ms-navframe {display: none;}
.s4-title-inner {display: none;}
.hideOnPrint {display: none;}
.s4-title {display: none;}
.s4-1p {display: none;}
.s4-tn {display: none;}
.s4-notdlg {display: none;}
footer {display: none;}
